


<ion-header>
  <ion-toolbar color ="primary">
    <div class="kar">
    <ion-label >DASHBOARD</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<ion-card>
  <ion-button (click)="next()"  expand="block" fill="outline">Add Topic</ion-button>
  <ion-card-header>
    <ion-card-subtitle style="text-align: center;">Topic List:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Abba:10%</ion-label>
       </ion-card-content>
</ion-card>
</ion-content>
